.intro, .supervisor, .builder, .karma, .calculator {
    margin: 1rem;
    padding: 2rem;
}
body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}
p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    font-size: 0.8125rem;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1 ;
    grid-column-end: 4;
}
.title, h2, h3 {
    color: hsl(234, 12%, 34%);
}
.supervisor, .builder, .karma, .calculator {
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    height: 13.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: 4fr;
}
.supervisor {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
    border-radius: 2%;
    box-shadow: 0rem 0.625rem 0.9375rem 0.0625rem rgba(225, 233, 242);
    grid-area: supervisor;
}
.builder {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
    border-radius: 2%;
    box-shadow: 0rem 0.625rem 0.9375rem 0.0625rem rgba(225, 233, 242);
    grid-area: builder;
}
.karma {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
    border-radius: 2%;
    box-shadow: 0rem 0.625rem 0.9375rem 0.0625rem rgba(225, 233, 242);
    grid-area: karma;
}
.calculator {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
    border-radius: 2%;
    box-shadow: 0rem 0.625rem 0.9375rem 0.0625rem rgba(225, 233, 242);
    grid-area: calculator;
}
.title {
    font-weight: 600;
    font-size: 1.2rem;
    grid-row-start: 1;
    grid-row-end: 3;
}
img {
   width: 22%;
   grid-row-start: 4;
   grid-row-end: 5;
   justify-self: end;
}
.intro {
    text-align: center;
    padding: 5% 0;
    grid-area: intro;
}
main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-size: 1.5rem;
    font-weight: 200;
}
h2 {
    padding-bottom: 4%;
}
.intro p {
    font-size: 0.9375rem;
    padding: 0 7%;
    line-height: 1.6;
    max-width: 21.875rem;
    margin: 0 auto;
}
.attribution a:hover {
    color: hsl(34, 97%, 64%);
    transition: all 0.25s ease-in;
    text-decoration: none;
}
footer {
    margin: 2%;
    grid-area: footer;
}
@media screen and (max-width: 14.0625rem) {
    .supervisor p, .karma p, .builder p, .calculator p {
        font-size: 6vw;
    } 
}

@media screen and (min-width: 1125px) {
    main {
        display: grid;
        grid-template-columns: 380px 380px 380px;
        grid-template-rows: 5;
        margin: 0 auto;
        justify-content: center;
        grid-template-areas: 
        "intro intro intro" 
        " . builder . "
        "supervisor . calculator"
        " . karma . "
        "footer footer footer"
        " . . .";
    }
    .intro {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0 0 0; 
    }
    .builder {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2 ;
        grid-row-end: 2;
        justify-self: center;
    }
    .karma {
        grid-row-start: 3;
        grid-row-end: 3;
        justify-self: center;
    }
    .supervisor {
        grid-row-start: 2;
        grid-row-end: 4;
        justify-self: flex-end;
    }
    .calculator {
        grid-row-start: 2;
        grid-row-end: 4;
        justify-self: flex-start;
    }
    h2, h3 {
        font-size: 2.1875rem;
    }
    .intro p {
        max-width: 45%;
        margin: 0;
        padding: 0 0 3% 0;
    }
    .supervisor, .builder, .karma, .calculator {
        max-width: 21.875rem;
        height: 15.625rem;
    }
    h2 {
        padding:0 0 1.25rem 0;
    }
}